body {
    height: 100vh;
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    width: 100px;
    margin-right: 5px;
}