body {
    height: 100vh;
    background-color: rgb(65, 92, 29);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    width: 100px;
    margin-right: 5px;
}